{% extends "_base.html" %}
{% block title %}
Djangobat
{% endblock title %}
{% block main %}
<div class="lime-body">
    <div class="container">
        <div class="text-center pt-5">
            <h1 class="display-4">djangobat</h1>
            <p class="lead text-muted">Tutorial Django - Tạo ứng dụng To-Do App</p>
            <p>
                <a href="" class="btn btn-primary my-2">Xem ví dụ</a>
                <a href="" class="btn btn-success my-2">Xem bài viết</a>
                <a href="" class="btn btn-secondary my-2">Code Github</a>
            </p>
        </div>
    </div>
</div>
{% endblock main %}